<%= form_for @movie do |f| %>

  <% if @movie.errors.any? %>
    <div class="error" >
      <% @movie.errors.full_messages.each do |error| %><br>
        <%= error %>
      <% end %>
    </div>
  <% end %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :year %><br>
  <%= f.text_field :year %><br>
  <%= f.label :synopsis %><br>
  <%= f.text_field :synopsis %><br>

  <%= f.submit 'Create Movie' %>

<% end %>